<p>dashboard works!</p>

<div class="row col-lg-12">
  <div style="display: flex; justify-content: center; margin: 20px;">
    <canvas id="mainDataChart" width="400" height="400"></canvas>
  </div>

  <div class="col-lg-6 col-md-6 col-xs-12">
    <div style="display: flex; justify-content: center; margin: 20px;">
      <canvas id="accomodationChart" width="400" height="400"></canvas>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-xs-12">
    <div style="display: flex; justify-content: center; margin: 20px;">
      <canvas id="vehicleChart" width="400" height="400"></canvas>
    </div>
  </div>
  
</div>