
<div class="row col-lg-12">
  <div style="display: flex; justify-content: center; margin: 20px;">
    <canvas id="mainDataChart" width="400" height="400"></canvas>
  </div>

  <div style="display: flex; justify-content: center; margin: 20px;">
    <canvas id="festBarChart" width="400" height="400"></canvas>
  </div>

  <div style="display: flex; justify-content: center; margin: 20px;">
    <canvas id="accomodationBarChart" width="400" height="400"></canvas>
  </div>

  <div style="display: flex; justify-content: center; margin: 20px;">
    <canvas id="vehicleBarChart" width="400" height="400"></canvas>
  </div>
  
</div>