<div class="container">
    <div class="row section col-xs-12 col-sm-12 col-md-8 col-sm-offset-1 col-md-offset-2 mt-2">
        <a (click)="goBack()" style="cursor: pointer;">Back</a>
        <div class="section-header-center col-lg-12 mb-3">
            <h2>Ticket Details</h2>
        </div>

        <div class="col-lg-6 col-md-6 col-xs-12" *ngIf="ticket">
            <div class="info-pair">
                <h6 class="section-control">First Name : </h6>
                <span class="section-control-value">{{ticket.first_name}}</span>
            </div>
            <div class="info-pair">
                <h6 class="section-control">Last Name : </h6>
                <span class="section-control-value">{{ticket.last_name}}</span>
            </div>
            <div class="info-pair">
                <h6 class="section-control">Mobile No : </h6>
                <span class="section-control-value" *ngIf="!isEditMode">{{ticket.phone_no}}</span>
                <input type="text" [(ngModel)]="ticketUpdatePhone" class="input-field" *ngIf="isEditMode">
            </div>
            <div class="info-pair">
                <h6 class="section-control">Email : </h6>
                <span class="section-control-value" *ngIf="!isEditMode">{{ticket.email}}</span>
                <input type="email" [(ngModel)]="ticketUpdateEmail" class="input-field" *ngIf="isEditMode">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12" *ngIf="ticket">
            <div class="info-pair">
                <h6 class="section-control">Order ID : </h6>
                <span class="section-control-value">{{ticket.order_id}}</span>
            </div>
            <div class="info-pair">
                <h6 class="section-control">Ticket ID : </h6>
                <span class="section-control-value">{{ticket._id}}</span>
            </div>
            <div class="info-pair">
                <h6 class="section-control">Transaction ID : </h6>
                <span class="section-control-value">{{ticket.transaction_id}}</span>
            </div>
            <div class="info-pair">
                <h6 class="section-control">Total Price : </h6>
                <span class="section-control-value"> &#8377; {{ticket.totalPrice}}</span>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-xs-12 text-center" *ngIf="ticket">
            <button class="btn btn-primary" (click)="editTicket()" *ngIf="!isEditMode && userRole == 'admin'">Edit</button>
            <button class="btn btn-primary" (click)="updateTicket()" *ngIf="isEditMode">Update</button>
        </div>

        <div class="col-12 mt-3 content-box">
            <div class="col-12 button-group-container">
                <button *ngFor="let filter of filters" mat-raised-button
                    [color]="selectedFilter === filter ? 'primary' : ''" (click)="toggleFilter(filter)">
                    {{ filter }}
                </button>
                <div class="form-group">
                    <input type="text" [(ngModel)]="selectedFilter" class="form-control" placeholder="Search Tent No:">
                </div>
            </div>

            <mat-card class="pass-card col-lg-12 col-md-12 col-xs-12"
                *ngFor="let ticketpass of filteredItems; let i=index" [ngClass]="{'deactivated': !ticketpass.isActive}">

                <mat-card-header class="text-center">
                    <mat-card-title>{{ticketpass.item_name}}</mat-card-title>
                    <mat-card-subtitle>ID: {{ticketpass._id}} Order#: {{ticketpass.order_id}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="d-flex flex-wrap mb-2">
                    <div class="watermark" *ngIf="!ticketpass.isActive">Deactivated</div>
                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" [(ngModel)]="ticketpass.name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Mobile No:</label>
                        <input type="text" [(ngModel)]="ticketpass.phone_no" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>E-mail:</label>
                        <input type="text" [(ngModel)]="ticketpass.email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Is Admitted:</label>
                        <input type="text" [(ngModel)]="ticketpass.isAdmitted" [disabled]="true" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Order No:</label>
                        <input type="text" [(ngModel)]="ticketpass.order_id" [disabled]="true" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Pass ID:</label>
                        <input type="text" [(ngModel)]="ticketpass._id" [disabled]="true" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Pass Type:</label>
                        <input type="text" [(ngModel)]="ticketpass.item_name" [disabled]="true" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Tent No:</label>
                        <input type="text" [(ngModel)]="ticketpass.admissionId"
                            (click)="openTicketDetails(ticketpass, i)" class="form-control">
                    </div>

                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" class="btn btn-success"
                        *ngIf="!ticketpass.isAdmitted || (ticketpass.item_name != 'Festival Ticket' && 
                                ticketpass.item_name != 'Weekend pass' && ticketpass.item_name != 'Day Pass')"
                        [disabled]="!ticketpass.isActive" (click)="onAdmit(ticketpass, i)">Admit</button>
                    <button class="btn btn-warning" (click)="openConfirmDialog(ticketpass, i)">{{ticketpass.isActive ?
                        "Deactivate" : "Activate"}}</button>
                    <button class="btn btn-primary" (click)="savePass(ticketpass, i)"
                        *ngIf="ticketpass.item_name == 'Festival Ticket' || ticketpass.item_name == 'Weekend pass'
                                 || ticketpass.item_name == 'Day Pass'"
                        [disabled]="!ticketpass.isAdmitted || !ticketpass.isActive">Allocate Tent</button>

                </mat-card-actions>
            </mat-card>
        </div>

    </div>
</div>


<!-- Inline Template for Confirm Dialog -->
<ng-template #confirmDialog>
    <h2 mat-dialog-title>Confirm {{ action }}</h2>
    <div mat-dialog-content>
        <p>To {{ action }} the item, please type <strong>"CONFIRM"</strong> below:</p>
        <div class="form-group">
            <input type="text" [(ngModel)]="confirmationText" class="form-control">
        </div>
    </div>
    <div mat-dialog-actions align="end">
        <button mat-button (click)="onCancel()">Cancel</button>
        <button class="btn btn-primary" [disabled]="confirmationText !== 'CONFIRM'"
            (click)="onConfirm()">Confirm</button>
    </div>
</ng-template>